* {

    margin: 0 auto;

    padding: 0;

    box-sizing: border-box;

}

#menu {

    background-color: black;

    text-align: center;

}

#menu a {

    color: white;

    padding: 10px;

    text-decoration: none;

    display: inline-block;

}

#menu a:hover {

    background-color: yellowgreen;

}

#header {

    text-align: center;

}

#firstTitleContent {

    margin: 18px auto;

    text-align: center;

}

#wordSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#wordDetails {

    margin-left: 30px;

}

#wordLogo {

    width: 86px;

    height: 64px;

}

#excelSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#excelDetails {

    margin-left: 30px;

}

#excelLogo {

    width: 86px;

    height: 64px;

}

#powerPointSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#powerPointDetails {

    margin-left: 30px;

}

#powerPointLogo {

    width: 86px;

    height: 64px;

}

#secondTitleContent {

    margin: 18px auto;

    text-align: center;

}

#pythonSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#pythonDetails {

    margin-left: 30px;

}

#pythonLogo {

    width: 86px;

    height: 64px;

}

#golangSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#golangDetails {

    margin-left: 30px;

}

#golangLogo {

    width: 86px;

    height: 64px;

}

#htmlSection {

    display: flex;

    text-align: center;

    margin: 50px auto;

    width: 240px;

}

#htmlDetails {

    margin-left: 30px;

}

#htmlLogo {

    width: 86px;

    height: 64px;

}

#footer {

    text-align: center;

}
